<appSettings>
  <!-- mvc settings - default-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- application related -->
  <add key="ApplicationUrl" value="http://localhost/blog" />

  <!-- Google analytics-->
  <add key="GoogleAnalyticsEnabled" value="false"/>
</appSettings>
